/* Main background pattern
//SVG file name: white-pattern-background-abstract-geometric-simple-design-vector_53876-156384-#d1d1d1.svg
// via https://www.freepik.com/free-vector/white-pattern-background-abstract-geometric-simple-design-vector_20346216.htm#page=7&query=svg%20patterns&position=12&from_view=keyword&track=ais
*/
body {
  background: #ececec;
  background-size: 20em;
  background-repeat: repeat;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg id='uuid-73e84d2c-e6f8-473c-a470-477438a89a2c' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1200.24 800.16'%3E%3Cg id='uuid-215020ba-725e-4b66-a9be-16ff59f22ff9'%3E%3Cpath d='M1200.24,174.72v1.44c-.55-.08-1.09-.21-1.64-.22-11.01-.01-22.03-.01-33.04,0-.44,0-.88,.13-1.56,.24,.49,.94,.86,1.72,1.29,2.46,11.48,20,22.97,39.99,34.47,59.98,.1,.18,.33,.28,.49,.42v3.36c-.17-.14-.39-.24-.49-.42-12.28-21.34-24.56-42.69-36.78-64.06-.81-1.42-1.67-2.03-3.35-2.02-26.31,.05-52.63,.04-78.94,.04-.76,0-1.51,.09-2.71,.17,28.25,49.1,56.3,97.84,84.46,146.78,.51-.78,.83-1.22,1.11-1.7,12.04-20.93,24.08-41.86,36.13-62.78,.14-.25,.38-.43,.58-.64v3.36c-.87,1.39-1.78,2.76-2.6,4.19-10.97,19.04-21.91,38.11-32.94,57.11-.99,1.7-1.1,3.04,.05,4.54,.14,.19,.25,.41,.37,.62,11.16,19.4,22.32,38.79,33.48,58.19,.5,.87,1.08,1.7,1.63,2.55v4.32c-.39-.68-.78-1.37-1.17-2.05-12.08-20.99-24.17-41.97-36.21-62.98-.72-1.25-1.5-1.79-2.99-1.79-27.02,.04-54.04,.05-81.06,0-1.55,0-2.33,.59-2.88,1.91-.61,1.47-1.22,2.95-2.01,4.32-12.37,21.55-24.78,43.09-37.17,64.64-.42,.73-.8,1.48-1.39,2.59,1.38,0,2.31,0,3.24,0,52.84,0,105.69,0,158.53,0,1.04,0,2.07,.05,3.11,.08v1.44c-1.04,.03-2.08,.08-3.11,.08-52.93,0-105.85,0-158.78,0-.72,0-1.44-.03-2.16,.01-.51,.03-1.01,.15-1.8,.28,14.07,24.47,28,48.69,41.98,73.01h84.83c.45-.74,.93-1.47,1.36-2.22,5.03-8.73,10.04-17.46,15.07-26.18,7.53-13.07,15.07-26.15,22.61-39.22v3.84c-.13,.07-.32,.1-.39,.21-12.11,21.07-24.22,42.15-36.32,63.23-.23,.4-.42,.83-.64,1.29,1.43,2.49,2.82,4.91,4.22,7.34,11.04,19.18,22.09,38.36,33.13,57.54v3.36c-.36-.61-.72-1.21-1.07-1.82-12.13-21.06-24.25-42.13-36.38-63.19-.25-.43-.63-.79-1.08-1.34-28,48.66-55.87,97.09-83.74,145.53-.16,.27-.26,.58-.37,.88-.02,.06,.02,.15,.05,.22,.03,.07,.07,.13,.18,.31,.41,0,.89,0,1.36,0,26.79,0,53.58-.01,80.38,.03,1.47,0,2.28-.49,3-1.76,6.85-12.01,13.77-23.99,20.67-35.98,5.66-9.82,11.33-19.63,17-29.45v3.36c-2.75,4.75-5.51,9.49-8.25,14.25-9,15.63-18,31.26-26.98,46.91-.44,.77-1.21,1.48-.99,2.64,1.02,0,1.97,0,2.93,0,11.1,.02,22.19,.03,33.29,.05v.96c-.87,.05-1.75,.14-2.62,.14-10.24,.01-20.47,0-30.71,0-.84,0-1.68,.05-2.9,.08,.68,1.19,1.14,2.01,1.61,2.82,11.54,20.1,23.09,40.2,34.63,60.3v3.36c-.42-.76-.84-1.53-1.27-2.29-11.99-20.85-24-41.7-35.96-62.57-.74-1.28-1.56-1.74-3.02-1.74-26.54,.04-53.09,.03-79.63,.03-.6,0-1.21,.09-2.19,.17,28.23,49.06,56.29,97.82,84.57,146.98,12.67-22.04,25.09-43.63,37.5-65.22v3.36c-12.16,21.15-24.31,42.3-36.52,63.54,2.17,3.78,4.32,7.5,6.44,11.24,2.84,4.99,5.66,9.99,8.48,14.98h-2.4c-.29-.65-.54-1.32-.89-1.93-4.01-7-8.1-13.97-12.03-21.02-.91-1.64-1.95-2.13-3.77-2.12-26.62,.06-53.25,.04-79.87,.04h-2.47c-3.93,6.83-7.72,13.41-11.49,20-.95,1.66-1.83,3.35-2.75,5.03h-1.92c.39-.78,.74-1.58,1.17-2.34,4.09-7.14,8.14-14.3,12.34-21.37,.96-1.61,.88-2.77-.04-4.35-13.19-22.82-26.32-45.68-39.47-68.52-.43-.75-.91-1.46-1.52-2.43-.58,.95-1.04,1.67-1.46,2.4-13.87,24.09-27.74,48.18-41.59,72.28-4.66,8.1-9.28,16.22-13.91,24.33h-1.92c.42-.85,.78-1.73,1.26-2.55,18.22-31.68,36.44-63.35,54.66-95.02,.38-.66,.7-1.37,1.14-2.24h-84.23c-14.13,24.56-28.24,49.08-42.32,73.55,.65,1.16,1.18,2.15,1.74,3.12,4.02,7,8.06,14,12.07,21.01,.39,.68,.65,1.43,.97,2.15h-2.4c-.21-.58-.34-1.2-.64-1.73-4.08-7.14-8.19-14.26-12.3-21.39-.36-.62-.76-1.21-1.15-1.82-.62-.04-1.17-.09-1.73-.09-27.07,0-54.14,0-81.22,0-1.98,0-2.25,.24-3.02,2.03-.63,1.45-1.26,2.92-2.03,4.29-3.54,6.25-7.12,12.48-10.69,18.71h-1.92c4.49-7.84,8.95-15.69,13.49-23.49,.95-1.64,1-2.99,.03-4.66-13.31-23.05-26.58-46.13-39.86-69.19-.29-.51-.69-.96-1.13-1.57-.55,.92-.96,1.6-1.36,2.29-18.54,32.21-37.09,64.43-55.63,96.64h-1.92c.41-.77,.79-1.56,1.23-2.32,18.17-31.59,36.35-63.19,54.52-94.78,.47-.81,.89-1.64,1.45-2.68-.89-.06-1.5-.14-2.11-.14-26.7,0-53.41,0-80.11-.04-1.47,0-2.28,.46-3,1.74-3.52,6.27-7.15,12.48-10.74,18.72-9.84,17.11-19.68,34.23-29.54,51.33-.61,1.06-1.15,1.95-.37,3.28,4.86,8.27,9.63,16.58,14.44,24.88h-2.4c-4.3-7.48-8.67-14.92-12.87-22.45-1.05-1.88-2.19-2.65-4.44-2.64-26.37,.09-52.74,.09-79.11,0-2.28,0-3.35,.81-4.4,2.68-4.22,7.52-8.6,14.95-12.92,22.42h-1.92c4.72-8.16,9.41-16.34,14.19-24.47,.7-1.19,.41-2.02-.19-3.06-13.41-23.26-26.79-46.53-40.19-69.8-.29-.51-.65-.98-1.09-1.63-.54,.85-.93,1.44-1.28,2.05-18.17,31.58-36.35,63.16-54.5,94.75-.39,.67-.62,1.43-.92,2.15h-2.4c9.01-15.65,18.02-31.3,27.03-46.95,9.69-16.83,19.37-33.66,29.05-50.49,.41-.71,.75-1.45,1.28-2.47h-2.85c-26.3,0-52.6,.02-78.9-.04-1.83,0-2.83,.53-3.75,2.14-13.26,23.16-26.57,46.3-39.94,69.4-.92,1.59-.97,2.74-.04,4.33,4.7,7.99,9.27,16.05,13.88,24.09h-2.4c-.29-.57-.55-1.15-.87-1.7-4.02-7-8.11-13.97-12.02-21.03-.99-1.79-2.12-2.36-4.14-2.35-26.47,.07-52.95,.05-79.42,.05h-2.74c-.81,1.72-1.49,3.42-2.38,4.99-3.38,5.98-6.85,11.93-10.26,17.89-.39,.68-.64,1.43-.96,2.15h-1.92c.39-.86,.71-1.75,1.18-2.56,3.89-6.79,7.74-13.62,11.76-20.33,1.29-2.14,1.21-3.83-.03-5.97-13.05-22.54-26.02-45.13-39.01-67.7-.43-.75-.9-1.49-1.51-2.48-.57,.93-1.02,1.65-1.45,2.38-18.14,31.51-36.27,63.01-54.39,94.52-.39,.68-.68,1.43-1.01,2.14h-1.92c.37-.86,.67-1.76,1.13-2.57,18.17-31.61,36.36-63.2,54.54-94.81,.42-.73,.8-1.49,1.37-2.55h-2.77c-26.31,0-52.63,.02-78.94-.04-1.93,0-2.95,.59-3.91,2.27-10.38,18.19-20.86,36.33-31.31,54.49-3.23,5.61-6.44,11.22-9.72,16.93,.47,.86,.91,1.7,1.38,2.52,2.67,4.65,5.35,9.28,8.01,13.93,1.86,3.26,3.67,6.54,5.51,9.82h-2.4c-.25-.58-.45-1.18-.76-1.72-4.05-7.07-8.18-14.1-12.15-21.23-.91-1.64-1.95-2.13-3.77-2.12-26.62,.06-53.25,.04-79.87,.04h-2.47c-3.93,6.83-7.72,13.41-11.49,20-.95,1.66-1.83,3.35-2.75,5.03h-1.92c.39-.78,.74-1.58,1.17-2.33,4.13-7.2,8.25-14.41,12.44-21.57,.76-1.3,.93-2.31,.12-3.71-13.38-23.15-26.7-46.33-40.06-69.5-.38-.66-1-1.18-1.51-1.76,0-1.44,0-2.88,0-4.32,.52-.55,1.16-1.02,1.53-1.66,13.12-22.75,26.22-45.51,39.31-68.28,.29-.51,.48-1.08,.85-1.91-1.17,0-2.03,0-2.89,0-11.98,0-23.95,0-35.93,0-.95,0-1.91-.09-2.86-.14,0-.32,0-.64,0-.96H41.06c-.61-1.17-.98-1.93-1.4-2.67-4.54-7.89-9.08-15.78-13.62-23.67-8.08-14.05-16.15-28.11-24.26-42.14-.45-.78-1.18-1.39-1.77-2.08,0-2.24,0-4.48,0-6.72,.59-.72,1.29-1.38,1.75-2.17,10.3-17.85,20.58-35.72,30.85-53.59,3.03-5.26,6.05-10.52,9.1-15.82-.46-.83-.86-1.6-1.3-2.35-7.69-13.37-15.38-26.73-23.07-40.1-5.22-9.07-10.43-18.15-15.68-27.21-.4-.69-.49-1.77-1.66-1.79C0,401.92,0,400.16,0,398.4c.51-.56,1.15-1.05,1.52-1.69,13.29-23.05,26.54-46.13,39.86-69.16,1.07-1.85,1-3.28-.04-5.08-6.95-11.95-13.81-23.95-20.71-35.93-6.3-10.94-12.59-21.89-18.91-32.82-.4-.69-.52-1.79-1.72-1.72C0,250.72,0,249.44,0,248.16c.56-.62,1.24-1.17,1.65-1.88,13.05-22.63,26.07-45.27,39.09-67.91,.38-.66,.71-1.36,1.26-2.44-1.18,0-1.96,0-2.73,0-12.3,0-24.61,0-36.91,0-.79,0-1.58,.14-2.36,.22,0-.48,0-.96,0-1.44H40.77c-.55-1.07-.87-1.77-1.25-2.44-5.17-9-10.34-17.99-15.51-26.98-7.4-12.87-14.8-25.74-22.23-38.59-.45-.77-1.18-1.38-1.78-2.07,0-2.56,0-5.12,0-7.68,.55-.64,1.23-1.2,1.65-1.92C14.56,72.64,27.44,50.21,40.39,27.82c.9-1.55,.78-2.64-.08-4.1-4.21-7.16-8.32-14.37-12.45-21.57C27.48,1.46,27.2,.72,26.87,0c.64,0,1.28,0,1.92,0,.3,.65,.55,1.32,.9,1.93,3.37,5.89,6.77,11.78,10.15,17.66,1.03,1.79,2.07,3.57,3.15,5.44,.86,0,1.65,0,2.45,0,26.78,0,53.55,0,80.33,0,.4,0,.8-.03,1.2,0,.91,.08,1.49-.29,1.91-1.1,.67-1.27,1.43-2.5,2.14-3.75C134.86,13.46,138.7,6.73,142.53,0c.64,0,1.28,0,1.92,0-.37,.79-.69,1.6-1.12,2.35-4.05,7.07-8.07,14.16-12.23,21.17-.99,1.66-.96,2.88,0,4.54,13.45,23.24,26.82,46.51,40.22,69.78,.39,.68,.82,1.34,1.19,1.94h83.74c-.56-1.04-.98-1.87-1.44-2.68-18.17-31.58-36.34-63.16-54.51-94.74-.43-.75-.76-1.57-1.13-2.35,.8,0,1.6,0,2.4,0,.31,.72,.55,1.48,.94,2.15,18.05,31.39,36.11,62.78,54.17,94.16,.39,.68,.81,1.35,1.43,2.37,14.08-24.47,28.01-48.68,41.92-72.86-4.57-7.94-9.04-15.69-13.49-23.46-.42-.74-.67-1.58-1-2.37,.64,0,1.28,0,1.92,0,.3,.72,.52,1.48,.9,2.16,3.56,6.25,7.16,12.47,10.73,18.72,.74,1.3,1.41,2.65,2.18,4.08,.45,.02,1,.07,1.55,.07,27.18,0,54.36,0,81.54,.04,1.48,0,2.27-.52,2.98-1.78C391.76,15.5,396.26,7.76,400.72,0c.64,0,1.28,0,1.92,0-.41,.78-.78,1.57-1.22,2.33-4.18,7.28-8.35,14.57-12.58,21.82-.69,1.19-.77,2.13,0,3.29,1.01,1.54,1.86,3.17,2.78,4.76,12.6,21.9,25.21,43.79,37.79,65.7,.72,1.25,1.35,2.07,3.05,2.07,26.71-.07,53.42-.04,80.14-.05,.5,0,1-.12,1.76-.21-.62-1.09-1.08-1.92-1.55-2.74-18.14-31.53-36.29-63.06-54.42-94.6-.43-.74-.7-1.58-1.04-2.37,.64,0,1.28,0,1.92,0,.1,.13,.21,.24,.29,.38,18.3,31.81,36.59,63.62,54.89,95.43,.5,.88,1.03,1.74,1.71,2.91,14.09-24.49,28-48.65,41.94-72.88C553.12,17.18,548.19,8.59,543.25,0c.64,0,1.28,0,1.92,0,4.43,7.69,8.89,15.35,13.25,23.08,.8,1.41,1.65,2,3.33,2,27.02-.06,54.04-.04,81.06-.05,.7,0,1.4-.08,2.11-.13,4.64-8.06,9.22-16.02,13.79-23.99,.15-.26,.13-.6,.19-.91,.8,0,1.6,0,2.4,0-4.94,8.58-9.87,17.16-14.8,25.73,.33,.62,.57,1.12,.85,1.6,13.59,23.62,27.2,47.24,40.74,70.89,.82,1.44,1.78,1.72,3.26,1.72,26.3-.03,52.61-.02,78.91-.03,.76,0,1.53-.08,2.7-.14C753.7,66.3,734.62,33.15,715.54,0c.8,0,1.6,0,2.4,0,.22,.43,.41,.86,.65,1.28,18.29,31.78,36.57,63.56,54.87,95.33,.35,.6,.76,1.17,1.24,1.9,.46-.71,.83-1.22,1.14-1.76,13.27-23.05,26.52-46.11,39.83-69.14,.81-1.4,.7-2.39-.09-3.7-2.43-4.04-4.74-8.14-7.08-12.24-2.21-3.88-4.39-7.78-6.59-11.68,.64,0,1.28,0,1.92,0,3.91,6.87,7.83,13.74,11.74,20.62,.78,1.37,1.48,2.79,2.28,4.28h85.16c4.68-8.14,9.3-16.17,13.92-24.21,.11-.2,.12-.46,.17-.69,.64,0,1.28,0,1.92,0-.29,.72-.51,1.49-.89,2.16-4.08,7.15-8.2,14.27-12.3,21.41-.43,.75-.82,1.52-1.21,2.24,.25,.48,.41,.84,.61,1.19,13.67,23.75,27.36,47.5,40.99,71.27,.75,1.3,1.6,1.68,3.03,1.68,26.54-.04,53.07-.03,79.61-.03,.6,0,1.2-.08,2.06-.14-.52-.98-.9-1.75-1.32-2.49-14.22-24.73-28.46-49.45-42.68-74.18C982.5,15.41,978.12,7.7,973.73,0c.8,0,1.6,0,2.4,0,.23,.51,.41,1.04,.68,1.52,18.29,31.8,36.59,63.6,54.9,95.39,.29,.51,.69,.96,1.12,1.55,.36-.54,.59-.86,.79-1.21,13.4-23.28,26.78-46.56,40.21-69.81,.7-1.22,.65-2.09-.04-3.27-4.28-7.31-8.48-14.67-12.69-22.02-.39-.68-.67-1.43-1-2.15,.64,0,1.28,0,1.92,0,.33,.72,.62,1.46,1.01,2.14,3.34,5.82,6.69,11.64,10.04,17.45,1.03,1.79,2.07,3.57,3.15,5.44,.86,0,1.65,0,2.45,0,26.78,0,53.55,0,80.33,0,.32,0,.64-.03,.96,0,1.09,.13,1.77-.32,2.29-1.3,.97-1.84,2.05-3.61,3.08-5.42,3.48-6.11,6.96-12.21,10.44-18.32,.64,0,1.28,0,1.92,0-.37,.79-.69,1.6-1.12,2.35-4.09,7.14-8.15,14.29-12.33,21.37-.88,1.5-.89,2.61-.01,4.11,7.35,12.63,14.61,25.32,21.9,37.98,4.7,8.15,9.41,16.28,14.12,24.42v3.36c-.45-.73-.92-1.46-1.35-2.2-11.84-20.57-23.68-41.15-35.52-61.73-.35-.61-.75-1.2-1.19-1.91-.3,.35-.54,.56-.68,.81-27.88,48.51-55.75,97.02-83.62,145.54-.03,.05,0,.15,.02,.23,.02,.07,.06,.14,.15,.34h1.6c26.63,0,53.25-.02,79.88,.04,1.79,0,2.68-.67,3.52-2.14,7.25-12.71,14.55-25.38,21.86-38.05,5.1-8.85,10.22-17.68,15.33-26.52v3.36c-.57,.94-1.15,1.88-1.7,2.83-11.12,19.32-22.24,38.65-33.35,57.97-.42,.72-.78,1.48-1.31,2.51,1.29,0,2.16,0,3.03,0,11.11,.02,22.22,.03,33.33,.05Zm-125.18,450.61c-.7-.11-1-.2-1.3-.2-55.88,.03-111.76,.06-167.65,.1-.06,0-.13,.08-.17,.14-.05,.06-.09,.13-.22,.33,13.94,24.23,27.92,48.52,41.83,72.7h85.47c13.97-24.28,27.91-48.51,42.04-73.06Zm-300.16,73.15c13.9-24.17,27.69-48.14,41.47-72.1,.12-.2,.19-.43,.27-.66,.02-.07,.01-.16-.01-.22-.03-.07-.09-.13-.14-.22h-168.96c.49,.93,.82,1.63,1.21,2.3,13.15,22.86,26.32,45.7,39.41,68.6,1.01,1.77,2.09,2.36,4.11,2.36,26.62-.07,53.24-.05,79.86-.05h2.79Zm-601.98,0c.7,0,1.26,0,1.81,0,27.18,0,54.36-.02,81.54,.04,1.64,0,2.39-.63,3.14-1.94,4.25-7.51,8.58-14.98,12.88-22.46,8.93-15.52,17.86-31.03,26.77-46.55,.41-.71,1.14-1.35,.87-2.32-5.54-.49-167-.26-168.98,.3,13.96,24.27,27.9,48.49,41.96,72.93Zm343.44-.08c.48-.81,.97-1.62,1.45-2.45,5.07-8.8,10.13-17.6,15.19-26.4,8.05-14,16.11-27.99,24.14-42,.4-.7,1.17-1.34,.81-2.3h-169.08c14.15,24.6,28.12,48.87,42.08,73.14h85.41Zm-87.71-297.38h-169.4c.46,.9,.79,1.6,1.17,2.27,13.19,22.93,26.39,45.85,39.54,68.81,.9,1.57,1.84,2.2,3.72,2.2,26.78-.07,53.57-.07,80.35,0,1.95,0,2.95-.64,3.89-2.29,13.06-22.82,26.19-45.6,39.3-68.4,.43-.75,.83-1.51,1.42-2.59Zm347.07-.01c14.22,24.71,28.2,49,42.09,73.14,.58,.05,.82,.09,1.05,.09,27.51,0,55.03,0,82.54,.04,1.43,0,2.13-.53,2.79-1.7,3.26-5.78,6.6-11.52,9.91-17.27,9.89-17.19,19.79-34.37,29.65-51.57,.48-.84,1.36-1.58,1.12-2.73h-169.16Zm-85.29-1.84c1.09,.05,1.71,.1,2.33,.1,26.63,0,53.27-.01,79.9,.04,1.59,0,2.42-.52,3.19-1.87,13.44-23.45,26.91-46.87,40.44-70.26,.94-1.62,.87-2.76-.04-4.33-13.25-22.91-26.44-45.85-39.64-68.79-.39-.67-.81-1.33-1.39-2.26-28.29,49.16-56.43,98.06-84.79,147.36Zm-173.72-.02c.39-.64,.78-1.25,1.14-1.87,13.35-23.2,26.68-46.42,40.1-69.59,1.11-1.92,1.11-3.36,0-5.27-13.21-22.83-26.34-45.7-39.5-68.55-.35-.61-.76-1.18-1.3-2.02-28.29,49.16-56.44,98.09-84.75,147.3h84.31Zm-258.5-.01c14.13-24.56,28.36-49.28,42.63-74.09-13.7-23.81-27.37-47.56-41.04-71.31-.28-.48-.6-.94-.91-1.4-.03-.05-.14-.06-.21-.07-.07,0-.15,0-.22,.01-4.17,6.23-83.62,144.82-84.15,146.86h83.9Zm775.58-147.32c-28.29,49.16-56.44,98.1-84.85,147.45h2.83c26.39,0,52.79-.02,79.18,.04,1.73,0,2.71-.53,3.57-2.04,13.27-23.17,26.58-46.32,39.95-69.44,1.14-1.97,1.19-3.51,.03-5.51-13.22-22.83-26.35-45.72-39.51-68.59-.31-.54-.67-1.06-1.21-1.91Zm-87.91,147.39c-.54-1.02-.88-1.72-1.26-2.39-13.15-22.87-26.33-45.73-39.43-68.64-1-1.75-2.08-2.39-4.11-2.39-26.47,.08-52.95,.05-79.42,.05h-2.71c-13.71,23.84-27.39,47.6-41.05,71.37-.28,.48-.5,.99-.74,1.49-.03,.06,0,.15,.03,.22,.02,.08,.07,.14,.13,.28h168.57Zm-685.6-.08c7.52,.53,166.81,.28,168.88-.3-14.01-24.35-27.99-48.64-41.94-72.89-.75-.04-1.3-.09-1.86-.09-27.03,0-54.06,.02-81.09-.05-1.67,0-2.36,.72-3.1,2-13.21,23.02-26.46,46.02-39.69,69.02-.39,.67-.72,1.37-1.21,2.31Zm40.63,223.5c.29-.27,.5-.39,.61-.57,27.9-48.51,55.79-97.03,83.68-145.55,.03-.06,.03-.16,0-.23-.03-.07-.1-.12-.33-.38h-2.42c-26.07,0-52.15,0-78.22,0-.48,0-.96,.04-1.44,0-1.08-.1-1.8,.29-2.3,1.3-.64,1.29-1.42,2.5-2.13,3.75-12.8,22.24-25.59,44.5-38.43,66.72-.82,1.41-1.1,2.59-.05,3.91,.2,.25,.33,.55,.49,.83,13.08,22.73,26.16,45.46,39.24,68.19,.39,.67,.83,1.31,1.3,2.03Zm516.71,.39c28.28-49.15,56.33-97.89,84.65-147.11-1.39,0-2.24,0-3.09,0-26.23,0-52.46,.02-78.7-.04-1.93,0-2.97,.6-3.93,2.28-13.34,23.32-26.76,46.59-40.15,69.87-.31,.55-.58,1.12-.92,1.77,13.96,24.27,27.91,48.51,42.14,73.23Zm-773.67,.94h2.99c26.23,0,52.45-.02,78.68,.05,2.02,0,3.09-.6,4.1-2.37,12.89-22.55,25.87-45.06,38.82-67.57,.75-1.31,1.5-2.63,2.3-4.03-14-24.32-27.97-48.6-42.18-73.29-28.31,49.2-56.38,97.99-84.71,147.22Zm601.4-146.94c-.31,.36-.55,.56-.7,.81-27.87,48.5-55.73,97.01-83.58,145.52-.03,.05,0,.15,.03,.22,.02,.08,.07,.14,.15,.3,.5,.03,1.05,.08,1.6,.08,26.7,0,53.4-.01,80.11,.05,1.64,0,2.37-.65,3.12-1.96,13.4-23.36,26.83-46.71,40.31-70.03,.83-1.43,.85-2.46,.01-3.9-13.24-22.9-26.42-45.84-39.61-68.77-.43-.75-.91-1.48-1.43-2.33Zm-342.74,146.78c.76,.09,1.07,.15,1.37,.15,4.48,0,8.95,0,13.43,0,22.39,0,44.77-.01,67.16,.03,1.58,0,2.58-.36,3.44-1.87,13.46-23.51,26.98-46.99,40.54-70.45,.7-1.21,.64-2.1-.04-3.27-13.43-23.26-26.81-46.53-40.22-69.8-.3-.51-.7-.96-1.19-1.63-28.19,49-56.24,97.75-84.49,146.84Zm516.6,.03c1.11,.06,1.8,.13,2.49,.13,26.47,0,52.93-.02,79.4,.05,1.89,0,2.82-.66,3.71-2.23,13.35-23.31,26.75-46.58,40.18-69.84,.77-1.33,.88-2.27,.06-3.67-13.37-23.11-26.66-46.26-39.98-69.4-.34-.59-.75-1.14-1.31-1.98-28.22,49.05-56.3,97.85-84.55,146.94Zm-259.43-149.63c.22,.01,.62,.05,1.01,.05,27.35,0,54.7,0,82.05,.04,1.42,0,2.13-.54,2.79-1.71,3.02-5.36,6.12-10.68,9.19-16.02,10.21-17.74,20.41-35.48,30.61-53.22,.41-.71,.75-1.45,1.21-2.36-56.39,0-112.37,0-168.34,0-.06,0-.12,.08-.16,.14-.05,.06-.07,.14-.18,.36,13.85,24.09,27.75,48.26,41.82,72.72Zm-516.62,0h84.91c12.53-21.79,25.09-43.6,37.63-65.42,1.39-2.42,2.73-4.87,4.08-7.32,.03-.05-.01-.15-.03-.22-.03-.07-.07-.14-.17-.34-55.57,0-111.21,0-166.84,0-.32,0-.64,.05-.95,.09-.06,0-.12,.08-.16,.14-.05,.06-.08,.14-.23,.41,13.83,24.06,27.73,48.22,41.78,72.65ZM645.58,27.63c-4.84,7.18-83.84,145.08-84.23,146.98,.48,.02,.96,.06,1.44,.06,26.78,0,53.57-.01,80.35,.04,1.61,0,2.41-.6,3.17-1.92,13.48-23.5,26.99-46.98,40.5-70.47,.31-.54,.55-1.12,.81-1.66-14-24.32-27.94-48.54-42.03-73.04Zm258.02,.1c-3.89,5.68-83.73,144.94-84.21,146.94h2.62c26.14,0,52.28-.03,78.42,.06,2.14,0,3.24-.67,4.28-2.5,11.17-19.57,22.44-39.09,33.68-58.62,2.07-3.6,4.07-7.25,6.25-10.78,.93-1.51,1.02-2.75-.08-4.1-.1-.12-.15-.28-.23-.42-13.15-22.86-26.3-45.71-39.46-68.57-.35-.61-.75-1.19-1.27-2.01ZM302.33,174.55c1.09,.06,1.71,.12,2.33,.12,26.62,0,53.25-.01,79.87,.04,1.57,0,2.42-.49,3.2-1.84,13.43-23.44,26.89-46.86,40.41-70.24,.8-1.38,.76-2.33-.02-3.68-13.39-23.18-26.73-46.4-40.08-69.6-.29-.51-.67-.97-1.18-1.69-28.2,49-56.24,97.75-84.52,146.89Zm-258.15,.12c1.13,0,1.68,0,2.23,0,26.62,0,53.25-.02,79.87,.04,1.78,0,2.68-.67,3.52-2.13,13.31-23.23,26.66-46.44,40.07-69.62,.93-1.61,.92-2.73,0-4.33-13.29-22.97-26.51-45.98-39.75-68.97-.35-.61-.75-1.2-1.3-2.08-28.22,49.04-56.3,97.84-84.64,147.1Zm1031.65-1.05c.51-.76,.75-1.07,.94-1.41,27.73-48.22,55.46-96.44,83.19-144.65,.04-.07,.07-.15,.08-.23,0-.08-.01-.16-.03-.23-.02-.07-.06-.13-.15-.3-.57-.03-1.2-.09-1.83-.09-26.54-.03-53.08-.04-79.62-.13-1.67,0-2.56,.56-3.37,1.98-13.39,23.37-26.83,46.7-40.26,70.05-.35,.61-.65,1.26-.99,1.94,13.97,24.28,27.91,48.51,42.05,73.08ZM127.27,26.71c-1.4,0-2.19,0-2.98,0-12.31-.03-24.62-.07-36.93-.08-13.99-.01-27.98,.04-41.97-.06-1.9-.01-2.82,.67-3.71,2.23C28.37,52.03,15,75.23,1.65,98.44c-.39,.68-.74,1.39-1.14,2.14,13.99,24.22,27.95,48.37,41.9,72.51,.03,.05,.13,.07,.2,.08,.08,0,.16-.01,.4-.04,27.96-48.59,55.97-97.26,84.25-146.43Zm516.62,0c-1.36,0-2.2,0-3.05,0-12.39-.03-24.78-.07-37.18-.08-13.83-.01-27.66,.04-41.5-.05-1.92-.01-2.96,.59-3.92,2.27-13.21,23.1-26.49,46.17-39.81,69.21-1,1.72-1.05,2.99-.02,4.76,13.23,22.82,26.36,45.7,39.52,68.55,.39,.68,.81,1.33,1.4,2.29,28.21-49.03,56.26-97.77,84.56-146.96Zm303.71,371.31c28.25-49.09,56.3-97.84,84.52-146.89-1.1-.07-1.78-.16-2.46-.16-26.55,0-53.11,0-79.66-.04-1.53,0-2.43,.39-3.23,1.79-13.42,23.45-26.92,46.87-40.39,70.29-.31,.55-.58,1.12-.91,1.78,13.99,24.31,27.97,48.6,42.13,73.22Zm-775.13-.1c28.26-49.11,56.32-97.85,84.54-146.95h-2.63c-26.47,0-52.95,.02-79.42-.04-1.75,0-2.68,.57-3.54,2.08-13.23,23.11-26.49,46.19-39.85,69.22-1.09,1.88-.98,3.2,.05,4.98,13.21,22.84,26.35,45.72,39.52,68.59,.35,.61,.75,1.19,1.33,2.12Zm474.37-73.22c14,24.34,27.99,48.64,41.97,72.94,.32-.18,.52-.22,.59-.34,27.73-48.15,55.46-96.31,83.18-144.47,.24-.41,.44-.85,.64-1.28,.03-.06,0-.15-.03-.23-.02-.07-.07-.13-.14-.27h-83.82c-14.1,24.5-28.21,49.02-42.38,73.65Zm-215.67-73.65c-14.17,24.63-28.27,49.14-42.38,73.66,13.89,24.13,27.69,48.11,41.49,72.08,.12,.2,.28,.39,.43,.57,.04,.05,.14,.07,.21,.08,.08,.02,.16,.01,.24,.02,3.13-4.48,83.47-144.56,83.95-146.4h-83.93Zm129.13,74.81c-.87,1.87-1.52,3.59-2.43,5.17-12.61,21.99-25.26,43.95-37.89,65.92-.38,.66-.69,1.36-1.12,2.19h168.35c-.46-.9-.78-1.61-1.16-2.28-13.2-22.94-26.42-45.87-39.56-68.84-.98-1.71-2.08-2.21-3.96-2.2-26.47,.06-52.95,.04-79.42,.04h-2.81Zm-389.72,73.29c-.46-.92-.77-1.62-1.15-2.28-2.22-3.88-4.46-7.76-6.69-11.64-11-19.12-22.01-38.23-32.99-57.37-.72-1.25-1.39-2.05-3.08-2.05-27.02,.06-54.04,.04-81.07,.05-1.97,0-2.2,.23-2.98,2.07-.62,1.46-1.26,2.93-2.05,4.3-12.34,21.48-24.7,42.95-37.06,64.43-.42,.73-.81,1.49-1.35,2.48H170.59Zm258.9,300.29c-.23-.48-.35-.78-.51-1.05-13.75-23.91-27.51-47.81-41.22-71.73-.72-1.26-1.58-1.55-2.89-1.54-26.55,.03-53.1,.02-79.65,.03-.6,0-1.2,.1-2.2,.19,28.23,49.06,56.29,97.82,84.55,146.95,14.12-24.54,27.99-48.64,41.91-72.83Zm-300.06,72.71c.61-.94,1.01-1.51,1.36-2.11,13.2-22.93,26.37-45.88,39.62-68.78,.85-1.47,.75-2.5-.05-3.89-13.51-23.4-26.99-46.82-40.41-70.26-.87-1.53-1.87-2.03-3.59-2.02-11.19,.07-22.39,.04-33.58,.04-15.03,0-30.07,0-45.1,.02-.81,0-1.72-.3-2.55,.48,28.05,48.75,56.07,97.45,84.31,146.52Zm690.44-147.02c1.24,3.25,83.26,145.47,84.55,146.68,.42-.7,.83-1.38,1.23-2.06,13.08-22.72,26.14-45.45,39.28-68.14,.98-1.69,.93-2.89-.03-4.55-13.41-23.17-26.77-46.38-40.06-69.62-1.02-1.79-2.12-2.36-4.13-2.35-26.07,.07-52.13,.05-78.2,.05-.79,0-1.58,0-2.64,0Zm-173.79,147.07c.6-.98,1.03-1.64,1.42-2.31,13.12-22.79,26.21-45.59,39.38-68.35,.92-1.58,.98-2.69,.04-4.31-13.49-23.31-26.93-46.66-40.29-70.04-.95-1.66-2.01-2.1-3.79-2.09-14.95,.06-29.9,.04-44.85,.04-11.19,0-22.39,0-33.58,0-.82,0-1.64,.08-2.86,.14,28.29,49.17,56.34,97.91,84.54,146.92ZM130.64,176.05c.68,1.23,1.12,2.07,1.59,2.89,13.07,22.73,26.17,45.44,39.18,68.21,.95,1.66,1.99,2.09,3.78,2.09,26.79-.05,53.58-.04,80.37-.04,.79,0,1.59,0,2.28,0,2.52-3.42,41.4-71.38,41.84-73.15H130.64Zm386.03,73.06c13.72-23.84,27.43-47.67,41.13-71.5,.2-.34,.35-.71,.52-1.08,.03-.06-.02-.16-.05-.23-.03-.07-.08-.12-.16-.24h-168.95c14.14,24.57,28.11,48.85,42.03,73.04h85.49Zm516.37,.01c2.13-2.78,41.37-71.32,41.78-72.98-.23-.06-.45-.18-.68-.18-55.49-.02-110.97-.03-166.46-.03-.39,0-.79,.07-1.18,.12-.08,0-.16,.05-.21,.1-.05,.05-.06,.14-.19,.49,13.84,24.06,27.78,48.28,41.7,72.48h85.24Zm-385.86-73.07c14.19,24.67,28.13,48.89,42.04,73.05,.6,.04,.99,.08,1.39,.08,27.42,0,54.85,0,82.27,.04,1.43,0,2.12-.55,2.78-1.71,3.54-6.26,7.16-12.48,10.75-18.71,9.65-16.77,19.29-33.53,28.93-50.3,.41-.72,.76-1.47,1.27-2.45h-169.42Zm301.17,224.83c28.35,49.27,56.41,98.03,84.65,147.12,14.11-24.53,28.05-48.75,41.93-72.87-.3-.57-.48-.93-.68-1.28-13.67-23.77-27.35-47.53-40.98-71.32-.75-1.32-1.62-1.68-3.04-1.67-26.39,.03-52.78,.03-79.17,.03-.7,0-1.4,0-2.71,0Zm-516.46,0c.45,.91,.66,1.41,.93,1.89,27.77,48.21,55.54,96.42,83.32,144.62,.03,.05,.14,.06,.21,.07,.07,0,.15,0,.31-.02,.31-.5,.65-1.04,.97-1.59,13.16-22.86,26.29-45.74,39.52-68.57,1-1.73,.84-2.93-.09-4.54-13.4-23.18-26.76-46.39-40.06-69.63-.95-1.66-1.96-2.28-3.9-2.28-26.15,.07-52.3,.05-78.45,.05-.79,0-1.57,0-2.76,0Zm-258.35,.07c1.15,3.07,83.23,145.41,84.49,146.59,.3-.49,.6-.95,.88-1.43,13.2-22.93,26.37-45.88,39.63-68.77,.97-1.68,.94-2.88-.02-4.55-13.45-23.25-26.83-46.54-40.23-69.81-.4-.69-.82-1.35-1.23-2.02h-83.52Zm642.8,74.22c-.19-.41-.27-.64-.39-.85-13.79-23.98-27.59-47.95-41.34-71.95-.73-1.28-1.61-1.52-2.9-1.51-26.63,.02-53.26,.02-79.89,.02-.52,0-1.04,.06-1.97,.11,28.26,49.11,56.32,97.88,84.59,147,14.12-24.54,27.99-48.64,41.91-72.82Zm-301.64,73.89c-28.23-49.06-56.29-97.83-84.56-146.95-14.14,24.57-28.04,48.73-41.94,72.88,.45,.83,.82,1.53,1.22,2.22,13.39,23.28,26.81,46.55,40.14,69.86,.91,1.6,1.88,2.17,3.73,2.16,26.23-.07,52.46-.04,78.68-.05,.77,0,1.54-.06,2.71-.12Zm-385.04-74.13c.29,.57,.52,1.07,.8,1.55,13.63,23.7,27.27,47.39,40.86,71.11,.7,1.21,1.48,1.63,2.84,1.61,5.44-.07,10.87-.03,16.31-.03,20.87,0,41.74,0,62.61,0,.9,0,1.79-.06,3.05-.11-28.3-49.18-56.35-97.93-84.57-146.97-14.09,24.48-28,48.65-41.91,72.83Zm901.6,74.25c-.46-.91-.68-1.41-.96-1.88-27.76-48.2-55.53-96.39-83.31-144.58-.03-.05-.14-.08-.21-.09-.07-.01-.14,.01-.3,.03-.3,.5-.65,1.03-.96,1.58-13.15,22.86-26.28,45.74-39.5,68.56-.99,1.71-.89,2.91,.05,4.55,13.4,23.18,26.76,46.38,40.05,69.62,.96,1.69,2,2.27,3.92,2.26,26.14-.06,52.29-.04,78.43-.04h2.79Zm-342.41-.17c5.13,.54,81.95,.29,83.69-.31-28.05-48.74-56.08-97.46-84.28-146.47-.66,1.03-1.1,1.67-1.49,2.34-13.12,22.79-26.2,45.59-39.38,68.34-.95,1.64-.85,2.77,.06,4.33,13.48,23.31,26.89,46.67,40.33,70.01,.36,.62,.74,1.22,1.08,1.77Zm126.78,74.83c-.42-.85-.64-1.36-.91-1.84-13.27-23.08-26.56-46.15-39.8-69.25-.84-1.46-1.81-1.91-3.43-1.9-9.76,.07-19.51,.03-29.27,.03-17.03,0-34.07,0-51.1-.01-1.33,0-2.33,.09-3.14,1.5-13.34,23.31-26.76,46.59-40.14,69.88-.26,.45-.39,.97-.62,1.58h168.42Zm90.04-.06h168.58c-.56-1.01-.95-1.77-1.38-2.51-13.04-22.66-26.1-45.31-39.07-68.01-1-1.75-2.06-2.43-4.1-2.42-26.55,.07-53.1,.07-79.65,0-1.92,0-2.96,.58-3.93,2.27-13.05,22.83-26.19,45.62-39.3,68.42-.38,.67-.7,1.37-1.14,2.24Zm-775.2-.01c6.27,.55,166.6,.29,168.39-.27-.25-.5-.48-1.01-.75-1.48-13.28-23.08-26.57-46.15-39.8-69.25-.84-1.46-1.8-1.91-3.42-1.91-26.79,.04-53.59,.05-80.38,0-1.64,0-2.55,.51-3.38,1.96-13.15,22.97-26.37,45.89-39.56,68.83-.35,.61-.64,1.25-1.09,2.12Zm258.57,.02h168.49c-.41-.84-.68-1.48-1.03-2.08-13.15-22.87-26.33-45.72-39.43-68.63-.97-1.7-2.05-2.24-3.95-2.24-26.55,.06-53.1,.06-79.65,0-1.89,0-2.98,.52-3.95,2.22-13.06,22.83-26.19,45.62-39.31,68.42-.38,.67-.7,1.37-1.18,2.3ZM902.47,324.03c-1.81-4.2-83.18-145.19-84.49-146.43-.42,.7-.84,1.37-1.24,2.05-13.12,22.79-26.21,45.59-39.38,68.35-.88,1.52-.86,2.61,.01,4.11,13.48,23.32,26.9,46.67,40.34,70.01,.39,.68,.83,1.32,1.2,1.91h83.56Zm-516.3,.1c-28.32-49.21-56.35-97.93-84.59-147.02-14.14,24.58-28.04,48.73-41.93,72.88,.42,.76,.74,1.4,1.1,2.02,13.39,23.28,26.81,46.55,40.15,69.85,.94,1.63,1.92,2.32,3.89,2.32,26.15-.07,52.3-.05,78.44-.05h2.94ZM130.51,174.67c56.05,0,111.53,0,167.02,0,.4,0,.79-.05,1.19-.08,.07,0,.15-.06,.19-.11,.05-.06,.06-.15,.17-.45-13.82-24.02-27.72-48.17-41.55-72.2h-85.1c-13.92,24.19-27.78,48.28-41.91,72.85Zm258.31-.16h168.47c-.47-.92-.8-1.63-1.18-2.3-13.11-22.8-26.24-45.58-39.31-68.4-.91-1.58-1.88-2.18-3.75-2.18-26.63,.07-53.25,.07-79.88,0-1.91,0-2.96,.56-3.93,2.25-13.05,22.83-26.19,45.61-39.29,68.41-.38,.67-.7,1.37-1.13,2.22Zm427,.03c-.42-.84-.7-1.49-1.04-2.09-13.19-22.94-26.4-45.86-39.56-68.82-.81-1.41-1.67-2.01-3.36-2-26.87,.06-53.74,.05-80.6,0-1.54,0-2.41,.42-3.21,1.81-13.18,23.03-26.43,46.03-39.66,69.03-.34,.6-.62,1.23-1.02,2.05h168.46Zm89.61-.02h168.61c-14.09-24.49-28.02-48.69-41.92-72.85-.83,0-1.39,0-1.94,0-26.94,0-53.89,.02-80.83-.04-1.71,0-2.54,.63-3.33,2.02-13.12,22.88-26.29,45.73-39.44,68.59-.38,.66-.7,1.37-1.15,2.28Zm-260.96,598.89c-28.33-49.23-56.37-97.96-84.55-146.95-.58,.95-1,1.6-1.38,2.27-8.97,15.59-17.94,31.18-26.91,46.77-4.23,7.34-8.43,14.7-12.71,22.01-.73,1.25-.95,2.3-.02,3.48,.2,.25,.33,.55,.49,.83,13.27,23.07,26.56,46.14,39.77,69.24,1,1.74,2.05,2.41,4.09,2.4,25.99-.08,51.97-.05,77.96-.05,.87,0,1.75,0,3.27,0Zm432.08-146.92c-.64,1.01-1.08,1.65-1.46,2.32-13.04,22.66-26.05,45.33-39.14,67.95-1.03,1.78-1.17,3.06-.08,4.94,13.16,22.68,26.2,45.42,39.27,68.15,.67,1.17,1.36,2.32,1.97,3.38h83.87c-28.2-49.01-56.23-97.73-84.44-146.74ZM127.58,773.3c-2.33-5.14-83.14-145.1-84.58-146.46-13.92,24.19-27.81,48.34-41.68,72.45,14.26,24.79,28.41,49.38,42.58,74.01H127.58ZM645.87,323.01c14.15-24.58,28.07-48.79,41.93-72.86-.24-.48-.34-.69-.46-.9-13.75-23.91-27.52-47.81-41.22-71.74-.78-1.37-1.74-1.59-3.11-1.59-26.39,.03-52.78,.02-79.17,.03-.69,0-1.39,.08-2.49,.15,28.21,49.02,56.25,97.76,84.54,146.92ZM303.48,175.93c1.85,4.29,83.24,145.35,84.54,146.59,.39-.62,.79-1.21,1.14-1.83,13.16-22.86,26.29-45.73,39.49-68.57,.88-1.52,.85-2.62-.02-4.12-13.44-23.25-26.85-46.52-40.18-69.83-.97-1.69-2.01-2.29-3.93-2.28-26.15,.06-52.29,.04-78.44,.04h-2.61Zm642.89,74.22c-.24-.49-.4-.85-.59-1.19-13.72-23.84-27.45-47.66-41.12-71.53-.74-1.28-1.63-1.52-2.91-1.52-26.55,.02-53.1,.01-79.65,.02-.59,0-1.19,.13-2.13,.24,28.19,48.99,56.23,97.72,84.48,146.82,14.09-24.49,27.96-48.59,41.92-72.85ZM129.22,322.94c.56-.91,.86-1.37,1.14-1.86,13.28-23.07,26.54-46.14,39.86-69.19,.8-1.38,.74-2.35-.04-3.69-13.52-23.39-27-46.8-40.42-70.25-.87-1.52-1.83-2.07-3.57-2.07-26.23,.05-52.45,.04-78.68,.04-.77,0-1.54,.07-2.81,.13,28.24,49.08,56.28,97.8,84.51,146.87ZM42.92,476.02c-.58,1.13-1.07,2.22-1.66,3.25-12.94,22.52-25.9,45.03-38.85,67.54q-1.66,2.89-.02,5.75c13.03,22.65,26.07,45.3,39.1,67.95,.34,.58,.69,1.15,1.08,1.79,2.31-3.02,83.49-144.47,83.94-146.27H42.92Zm1117.28,.03h-84.09c-.59,1.17-1.04,2.19-1.59,3.15-12.98,22.59-25.94,45.19-39.03,67.71-1.23,2.12-1.38,3.73,.08,5.57,.05,.06,.08,.14,.12,.21,12.76,22.16,25.51,44.33,38.27,66.49,.58,1.01,1.18,2.01,1.95,3.33,28.13-48.9,56.12-97.53,84.28-146.47Zm-600.91,146.5c28.15-48.92,56.14-97.57,84.29-146.49h-83.87c-14.22,24.73-28.27,49.17-42.34,73.63,13.98,24.29,27.88,48.46,41.92,72.86ZM817.59,173.33c28.15-48.93,56.17-97.58,84.37-146.64-28.47,.08-56.41-.2-84.11-.03-.67,1.35-1.12,2.37-1.67,3.32-13.07,22.73-26.13,45.47-39.26,68.16-.97,1.68-.98,2.9,0,4.56,7.36,12.64,14.63,25.34,21.92,38.02,6.18,10.74,12.36,21.48,18.76,32.61ZM301.42,26.76c-14.21,24.7-28.26,49.15-42.38,73.69,13.93,24.21,27.83,48.37,41.83,72.7,.36-.45,.59-.65,.73-.9,27.76-48.31,55.52-96.62,83.26-144.93,.03-.05-.04-.15-.07-.22-.03-.07-.07-.13-.18-.34h-83.2ZM818.06,626.57c-1.02,1.95-1.85,3.65-2.79,5.29-12.47,21.69-24.95,43.37-37.42,65.05-.47,.82-.91,1.65-1.33,2.42,.77,1.35,1.43,2.53,2.11,3.71,12.4,21.54,24.8,43.08,37.17,64.64,.67,1.16,1.17,2.43,1.68,3.67,.72,1.77,1.05,2.06,3.01,2.06,26.62,0,53.25,0,79.87,0,.59,0,1.17-.12,2.06-.22-28.2-49.01-56.24-97.74-84.36-146.61Zm-516.63-.02c-.87,1.71-1.46,3.01-2.17,4.24-12.71,22.11-25.41,44.22-38.19,66.29-.91,1.57-1.01,2.7-.06,4.33,10.47,18.04,20.88,36.13,31.25,54.24,3.13,5.47,6.05,11.05,9.08,16.57,.22,.4,.53,.76,.75,1.07h83.78c-28.2-49.01-56.24-97.74-84.44-146.74Zm342.59-302.42c-.29-.68-.41-1.05-.6-1.37-27.85-48.33-55.71-96.67-83.58-144.99-.03-.05-.13-.06-.2-.06-.08,0-.15,.04,.18-.05-13.96,24.28-27.77,48.3-41.59,72.34,.39,.73,.72,1.36,1.07,1.98,12.87,22.38,25.75,44.75,38.62,67.13,.43,.76,.85,1.54,1.14,2.36,.92,2.65,.89,2.67,3.7,2.67,26.23,0,52.45,0,78.68,0h2.59Zm432.33-146.82c-.81,1.61-1.39,2.91-2.09,4.14-12.75,22.19-25.49,44.37-38.3,66.52-.87,1.51-.9,2.61-.02,4.12,12.93,22.36,25.79,44.75,38.66,67.14,.43,.75,.8,1.56,1.09,2.38,.9,2.49,.9,2.52,3.6,2.52,26.23,0,52.47,0,78.7,0,.77,0,1.54-.07,2.77-.12-28.23-49.06-56.27-97.78-84.41-146.7ZM127.6,324.13c-28.34-49.25-56.35-97.93-84.46-146.79-.84,1.64-1.48,2.99-2.22,4.27-12.71,22.12-25.41,44.23-38.18,66.31-.86,1.49-.96,2.59-.07,4.12,12.89,22.29,25.72,44.61,38.55,66.93,.47,.82,.89,1.7,1.22,2.59,.91,2.51,.93,2.56,3.57,2.57,26.23,0,52.47,0,78.7,0h2.89Z' style='fill:%23d1d1d1;'/%3E%3C/g%3E%3C/svg%3E");
  }
}

/* Alternative geometric background (optional) */
/*
body {
  background-color: #e5e5f7;
  background-image:
  linear-gradient(30deg, #444cf7 12%, transparent 12.5%), linear-gradient(150deg, #444cf7 12%, transparent 12.5%);
  background-size: 20px 35px;
  background-position: 0 0, 10px 18px;
}
*/

/* Links */
a {
  color: #1901ff;
}
a:hover, a:active, a:focus {
  color: #4734ff;
}
a:focus-visible {
  outline: 2px solid currentColor;
  outline-offset: 2px;
}

/* Forms */
input[type=checkbox]:checked::before {
  content: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%2020%2020%27%3E%3Cpath%20d%3D%27M14.83%204.89l1.34.94-5.81%208.38H9.02L5.78%209.67l1.34-1.25%202.57%202.4z%27%20fill%3D%27%231901ff%27%2F%3E%3C%2Fsvg%3E");
}

input[type=radio]:checked::before {
  background: #1901ff;
}

.wp-core-ui input[type="reset"]:hover,
.wp-core-ui input[type="reset"]:active {
  color: #4734ff;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="color"]:focus,
input[type="date"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="email"]:focus,
input[type="month"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="text"]:focus,
input[type="time"]:focus,
input[type="url"]:focus,
input[type="week"]:focus,
input[type="checkbox"]:focus,
input[type="radio"]:focus,
select:focus,
textarea:focus {
  border-color: #00bdff;
  box-shadow: 0 0 0 1px #00bdff;
}

/* Core UI */
.wp-core-ui .button,
.wp-core-ui .button-secondary {
  color: #eaaa00;
  border-color: #eaaa00;
}

.wp-core-ui .button.hover,
.wp-core-ui .button:hover,
.wp-core-ui .button-secondary:hover,
.wp-core-ui .button.focus,
.wp-core-ui .button:focus,
.wp-core-ui .button-secondary:focus {
  border-color: #d19700;
  color: #d19700;
}

.wp-core-ui .button.focus,
.wp-core-ui .button:focus,
.wp-core-ui .button-secondary:focus {
  border-color: #eaaa00;
  color: #d19700;
  box-shadow: 0 0 0 1px #eaaa00;
}

.wp-core-ui .button:active {
  background: #d19700;
  border-color: #d19700;
}

.wp-core-ui .button.active,
.wp-core-ui .button.active:focus,
.wp-core-ui .button.active:hover {
  border-color: #d19700;
  color: #d19700;
  box-shadow: inset 0 2px 5px -3px #d19700;
}

.wp-core-ui .button-primary {
  background: #eaaa00;
  border-color: #eaaa00;
  color: #fff;
}

.wp-core-ui .button-primary:hover, .wp-core-ui .button-primary:focus {
  background: #f9b500;
  border-color: #db9f00;
  color: #fff;
}

.wp-core-ui .button-primary:focus {
  box-shadow: 0 0 0 1px #fff, 0 0 0 3px #eaaa00;
}

.wp-core-ui .button-primary:active {
  background: #d19700;
  border-color: #d19700;
  color: #fff;
}

.wp-core-ui .button-primary.active, .wp-core-ui .button-primary.active:focus, .wp-core-ui .button-primary.active:hover {
  background: #eaaa00;
  color: #fff;
  border-color: #9e7200;
  box-shadow: inset 0 2px 5px -3px black;
}

.wp-core-ui .button-primary[disabled], .wp-core-ui .button-primary:disabled, .wp-core-ui .button-primary.button-primary-disabled, .wp-core-ui .button-primary.disabled {
  color: #d1cec7 !important;
  background: #c18c00 !important;
  border-color: #c18c00 !important;
  text-shadow: none !important;
}

.wp-core-ui .button-group > .button.active {
  border-color: #eaaa00;
}

.wp-core-ui .wp-ui-primary {
  color: #fff;
  background-color: #00106d;
}

.wp-core-ui .wp-ui-text-primary {
  color: #00106d;
}

.wp-core-ui .wp-ui-highlight {
  color: #fff;
  background-color: #00bdff;
}

.wp-core-ui .wp-ui-text-highlight {
  color: #00bdff;
}

.wp-core-ui .wp-ui-notification {
  color: #fff;
  background-color: #033fff;
}

.wp-core-ui .wp-ui-text-notification {
  color: #033fff;
}

.wp-core-ui .wp-ui-text-icon {
  color: #f1f2f3;
}

/* List tables */
.wrap .add-new-h2:hover,
.wrap .page-title-action:hover {
  color: #fff;
  background-color: #00106d;
}

.view-switch a.current:before {
  color: #00106d;
}

.view-switch a:hover:before {
  color: #033fff;
}

/* Admin Menu */
#adminmenuback,
#adminmenuwrap,
#adminmenu {
  background: #00106d;
}

#adminmenu a {
  color: #fff;
}

#adminmenu div.wp-menu-image:before {
  color: #f1f2f3;
}

#adminmenu a:hover,
#adminmenu li.menu-top:hover,
#adminmenu li.opensub > a.menu-top,
#adminmenu li > a.menu-top:focus {
  color: #fff;
  background-color: #00bdff;
}

#adminmenu li.menu-top:hover div.wp-menu-image:before,
#adminmenu li.opensub > a.menu-top div.wp-menu-image:before {
  color: #fff;
}

/* Active tabs use a bottom border color that matches the page background color. */
.about-wrap .nav-tab-active,
.nav-tab-active,
.nav-tab-active:hover {
  background-color: #ececec;
  border-bottom-color: #ececec;
}

/* Admin Menu: submenu */
#adminmenu .wp-submenu,
#adminmenu .wp-has-current-submenu .wp-submenu,
#adminmenu .wp-has-current-submenu.opensub .wp-submenu,
.folded #adminmenu .wp-has-current-submenu .wp-submenu,
#adminmenu a.wp-has-current-submenu:focus + .wp-submenu {
  background: #000b49;
}

#adminmenu li.wp-has-submenu.wp-not-current-submenu.opensub:hover:after {
  border-right-color: #000b49;
}

#adminmenu .wp-submenu .wp-submenu-head {
  color: #b3b7d3;
}

#adminmenu .wp-submenu a,
#adminmenu .wp-has-current-submenu .wp-submenu a,
.folded #adminmenu .wp-has-current-submenu .wp-submenu a,
#adminmenu a.wp-has-current-submenu:focus + .wp-submenu a,
#adminmenu .wp-has-current-submenu.opensub .wp-submenu a {
  color: #b3b7d3;
}

#adminmenu .wp-submenu a:focus, #adminmenu .wp-submenu a:hover,
#adminmenu .wp-has-current-submenu .wp-submenu a:focus,
#adminmenu .wp-has-current-submenu .wp-submenu a:hover,
.folded #adminmenu .wp-has-current-submenu .wp-submenu a:focus,
.folded #adminmenu .wp-has-current-submenu .wp-submenu a:hover,
#adminmenu a.wp-has-current-submenu:focus + .wp-submenu a:focus,
#adminmenu a.wp-has-current-submenu:focus + .wp-submenu a:hover,
#adminmenu .wp-has-current-submenu.opensub .wp-submenu a:focus,
#adminmenu .wp-has-current-submenu.opensub .wp-submenu a:hover {
  color: #00bdff;
}

/* Admin Menu: current */
#adminmenu .wp-submenu li.current a,
#adminmenu a.wp-has-current-submenu:focus + .wp-submenu li.current a,
#adminmenu .wp-has-current-submenu.opensub .wp-submenu li.current a {
  color: #fff;
}

#adminmenu .wp-submenu li.current a:hover, #adminmenu .wp-submenu li.current a:focus,
#adminmenu a.wp-has-current-submenu:focus + .wp-submenu li.current a:hover,
#adminmenu a.wp-has-current-submenu:focus + .wp-submenu li.current a:focus,
#adminmenu .wp-has-current-submenu.opensub .wp-submenu li.current a:hover,
#adminmenu .wp-has-current-submenu.opensub .wp-submenu li.current a:focus {
  color: #00bdff;
}

ul#adminmenu a.wp-has-current-submenu:after,
ul#adminmenu > li.current > a.current:after {
  border-right-color: #ececec;
}

#adminmenu li.current a.menu-top,
#adminmenu li.wp-has-current-submenu a.wp-has-current-submenu,
#adminmenu li.wp-has-current-submenu .wp-submenu .wp-submenu-head,
.folded #adminmenu li.current.menu-top {
  color: #fff;
  background: #00bdff;
}

#adminmenu li.wp-has-current-submenu div.wp-menu-image:before,
#adminmenu a.current:hover div.wp-menu-image:before,
#adminmenu li.wp-has-current-submenu a:focus div.wp-menu-image:before,
#adminmenu li.wp-has-current-submenu.opensub div.wp-menu-image:before,
#adminmenu li:hover div.wp-menu-image:before,
#adminmenu li a:focus div.wp-menu-image:before,
#adminmenu li.opensub div.wp-menu-image:before,
.ie8 #adminmenu li.opensub div.wp-menu-image:before {
  color: #fff;
}

/* Admin Menu: bubble */
#adminmenu .awaiting-mod,
#adminmenu .update-plugins {
  color: #fff;
  background: #033fff;
}

#adminmenu li.current a .awaiting-mod,
#adminmenu li a.wp-has-current-submenu .update-plugins,
#adminmenu li:hover a .awaiting-mod,
#adminmenu li.menu-top:hover > a .update-plugins {
  color: #fff;
  background: #000b49;
}

/* Admin Menu: collapse button */
#collapse-button {
  color: #f1f2f3;
}

#collapse-button:hover,
#collapse-button:focus {
  color: #00bdff;
}

/* Admin Bar */
#wpadminbar {
  color: #fff;
  background: #00106d;
}

#wpadminbar .ab-item,
#wpadminbar a.ab-item,
#wpadminbar > #wp-toolbar span.ab-label,
#wpadminbar > #wp-toolbar span.noticon {
  color: #fff;
}

#wpadminbar .ab-icon,
#wpadminbar .ab-icon:before,
#wpadminbar .ab-item:before,
#wpadminbar .ab-item:after {
  color: #f1f2f3;
}

#wpadminbar:not(.mobile) .ab-top-menu > li:hover > .ab-item,
#wpadminbar:not(.mobile) .ab-top-menu > li > .ab-item:focus,
#wpadminbar.nojq .quicklinks .ab-top-menu > li > .ab-item:focus,
#wpadminbar.nojs .ab-top-menu > li.menupop:hover > .ab-item,
#wpadminbar .ab-top-menu > li.menupop.hover > .ab-item {
  color: #00bdff;
  background: #000b49;
}

#wpadminbar:not(.mobile) > #wp-toolbar li:hover span.ab-label,
#wpadminbar:not(.mobile) > #wp-toolbar li.hover span.ab-label,
#wpadminbar:not(.mobile) > #wp-toolbar a:focus span.ab-label {
  color: #00bdff;
}

#wpadminbar:not(.mobile) li:hover .ab-icon:before,
#wpadminbar:not(.mobile) li:hover .ab-item:before,
#wpadminbar:not(.mobile) li:hover .ab-item:after,
#wpadminbar:not(.mobile) li:hover #adminbarsearch:before {
  color: #fff;
}

/* Admin Bar: submenu */
#wpadminbar .menupop .ab-sub-wrapper {
  background: #000b49;
}

#wpadminbar .quicklinks .menupop ul.ab-sub-secondary,
#wpadminbar .quicklinks .menupop ul.ab-sub-secondary .ab-submenu {
  background: #05198c;
}

#wpadminbar .ab-submenu .ab-item,
#wpadminbar .quicklinks .menupop ul li a,
#wpadminbar .quicklinks .menupop.hover ul li a,
#wpadminbar.nojs .quicklinks .menupop:hover ul li a {
  color: #b3b7d3;
}

#wpadminbar .quicklinks li .blavatar,
#wpadminbar .menupop .menupop > .ab-item:before {
  color: #f1f2f3;
}

#wpadminbar .quicklinks .menupop ul li a:hover,
#wpadminbar .quicklinks .menupop ul li a:focus,
#wpadminbar .quicklinks .menupop ul li a:hover strong,
#wpadminbar .quicklinks .menupop ul li a:focus strong,
#wpadminbar .quicklinks .ab-sub-wrapper .menupop.hover > a,
#wpadminbar .quicklinks .menupop.hover ul li a:hover,
#wpadminbar .quicklinks .menupop.hover ul li a:focus,
#wpadminbar.nojs .quicklinks .menupop:hover ul li a:hover,
#wpadminbar.nojs .quicklinks .menupop:hover ul li a:focus,
#wpadminbar li:hover .ab-icon:before,
#wpadminbar li:hover .ab-item:before,
#wpadminbar li a:focus .ab-icon:before,
#wpadminbar li .ab-item:focus:before,
#wpadminbar li .ab-item:focus .ab-icon:before,
#wpadminbar li.hover .ab-icon:before,
#wpadminbar li.hover .ab-item:before,
#wpadminbar li:hover #adminbarsearch:before,
#wpadminbar li #adminbarsearch.adminbar-focused:before {
  color: #00bdff;
}

#wpadminbar .quicklinks li a:hover .blavatar,
#wpadminbar .quicklinks li a:focus .blavatar,
#wpadminbar .quicklinks .ab-sub-wrapper .menupop.hover > a .blavatar,
#wpadminbar .menupop .menupop > .ab-item:hover:before,
#wpadminbar.mobile .quicklinks .ab-icon:before,
#wpadminbar.mobile .quicklinks .ab-item:before {
  color: #00bdff;
}

#wpadminbar.mobile .quicklinks .hover .ab-icon:before,
#wpadminbar.mobile .quicklinks .hover .ab-item:before {
  color: #f1f2f3;
}

/* Admin Bar: search */
#wpadminbar #adminbarsearch:before {
  color: #f1f2f3;
}

#wpadminbar > #wp-toolbar > #wp-admin-bar-top-secondary > #wp-admin-bar-search #adminbarsearch input.adminbar-input:focus {
  color: #fff;
  background: #001591;
}

/* Admin Bar: recovery mode */
#wpadminbar #wp-admin-bar-recovery-mode {
  color: #fff;
  background-color: #033fff;
}

#wpadminbar #wp-admin-bar-recovery-mode .ab-item,
#wpadminbar #wp-admin-bar-recovery-mode a.ab-item {
  color: #fff;
}

#wpadminbar .ab-top-menu > #wp-admin-bar-recovery-mode.hover > .ab-item,
#wpadminbar.nojq .quicklinks .ab-top-menu > #wp-admin-bar-recovery-mode > .ab-item:focus,
#wpadminbar:not(.mobile) .ab-top-menu > #wp-admin-bar-recovery-mode:hover > .ab-item,
#wpadminbar:not(.mobile) .ab-top-menu > #wp-admin-bar-recovery-mode > .ab-item:focus {
  color: #fff;
  background-color: #0339e6;
}

/* Admin Bar: my account */
#wpadminbar .quicklinks li#wp-admin-bar-my-account.with-avatar > a img {
  border-color: #001591;
  background-color: #001591;
}

#wpadminbar #wp-admin-bar-user-info .display-name {
  color: #fff;
}

#wpadminbar #wp-admin-bar-user-info a:hover .display-name {
  color: #00bdff;
}

#wpadminbar #wp-admin-bar-user-info .username {
  color: #b3b7d3;
}

/* Pointers */
.wp-pointer .wp-pointer-content h3 {
  background-color: #00bdff;
  border-color: #00aae6;
}

.wp-pointer .wp-pointer-content h3:before {
  color: #00bdff;
}

.wp-pointer.wp-pointer-top .wp-pointer-arrow,
.wp-pointer.wp-pointer-top .wp-pointer-arrow-inner,
.wp-pointer.wp-pointer-undefined .wp-pointer-arrow,
.wp-pointer.wp-pointer-undefined .wp-pointer-arrow-inner {
  border-bottom-color: #00bdff;
}

/* Media */
.media-item .bar,
.media-progress-bar div {
  background-color: #00bdff;
}

.details.attachment {
  box-shadow: inset 0 0 0 3px #fff, inset 0 0 0 7px #00bdff;
}

.attachment.details .check {
  background-color: #00bdff;
  box-shadow: 0 0 0 1px #fff, 0 0 0 2px #00bdff;
}

.media-selection .attachment.selection.details .thumbnail {
  box-shadow: 0 0 0 1px #fff, 0 0 0 3px #00bdff;
}

/* Themes */
.theme-browser .theme.active .theme-name,
.theme-browser .theme.add-new-theme a:hover:after,
.theme-browser .theme.add-new-theme a:focus:after {
  background: #00bdff;
}

.theme-browser .theme.add-new-theme a:hover span:after,
.theme-browser .theme.add-new-theme a:focus span:after {
  color: #00bdff;
}

.theme-section.current,
.theme-filter.current {
  border-bottom-color: #00106d;
}

body.more-filters-opened .more-filters {
  color: #fff;
  background-color: #00106d;
}

body.more-filters-opened .more-filters:before {
  color: #fff;
}

body.more-filters-opened .more-filters:hover,
body.more-filters-opened .more-filters:focus {
  background-color: #00bdff;
  color: #fff;
}

body.more-filters-opened .more-filters:hover:before,
body.more-filters-opened .more-filters:focus:before {
  color: #fff;
}

/* Widgets */
.widgets-chooser li.widgets-chooser-selected {
  background-color: #00bdff;
  color: #fff;
}

.widgets-chooser li.widgets-chooser-selected:before,
.widgets-chooser li.widgets-chooser-selected:focus:before {
  color: #fff;
}

/* Responsive Component */
div#wp-responsive-toggle a:before {
  color: #f1f2f3;
}

.wp-responsive-open div#wp-responsive-toggle a {
  border-color: transparent;
  background: #00bdff;
}

.wp-responsive-open #wpadminbar #wp-admin-bar-menu-toggle a {
  background: #000b49;
}

.wp-responsive-open #wpadminbar #wp-admin-bar-menu-toggle .ab-icon:before {
  color: #f1f2f3;
}

/* TinyMCE */
.mce-container.mce-menu .mce-menu-item:hover,
.mce-container.mce-menu .mce-menu-item.mce-selected,
.mce-container.mce-menu .mce-menu-item:focus,
.mce-container.mce-menu .mce-menu-item-normal.mce-active,
.mce-container.mce-menu .mce-menu-item-preview.mce-active {
  background: #00bdff;
}
